body {
    background-color:#faebd7;
}
h1 {
    color:burlywood;
    font-size: 2em;
    padding-top: 30px;
    border-left: 10px;
    border-right: 10px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
}

h2 {
    color:sienna;
    width: 100%;
    font-family: Georgia;
    text-align: left;
}
p {
    color:black;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
}
.nav {
    color:navy;
}

#intext_nav li{
    display:inline-block;
    padding: 10px 40px;
    font-size: 20px;
    font-style: italic;
}

#intext_nav{
    text-align: center;
}

#intext_nav li a{
    color:black;
}

#introduction a{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}


#introduction a:hover{
    color: pink;
    background-color:transparent;
}

